<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title text-center"><%= link_to "Institutionen", institutions_path %></h3>
    <hr>
      <%= render "institutions/institutions_search_form" %>
    <hr>
    <div id="institutions">
      <%= render partial: "institutions/institution", collection: institutions, as: :institution %>
    </div>
  </div>
</div>
