<div class="container mt-2">
  <div class="card mb-3">
    <div class="card-body">
      <h1 class="card-title">Erklärung</h1>
      <p class="card-text">
        Es gibt Personen und Institutionen.
      </p>
      <p class="card-text">
        Man kann Aufgaben und Notizen zu Personen und Institutionen hinzufügen.
      </p>
      <p class="card-text"><small class="text-muted"><strong>Fragen und Verbesserungswünsche an:</strong> <%= mail_to "sandro.raess@philosophie.ch" %></small></p>
    </div>
  </div>
</div>
