<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title text-center">Notizen</h3>
    <hr>
      <%= render partial: "notes/note", collection: @notes, as: :note, locals: {show_headers: true} %>
  </div>
</div>
