<%= form_tag(people_search_form_path, method: "get", remote: true, class: "form-group") do %>
    <%= text_field_tag(:search, nil, placeholder: "Nach Personen suchen", autocomplete: :off, class: "form-control") %>
    <%= submit_tag("Search", id: "triggersearch", class: "invisible") %>
<% end %>

<script>
    $(document).ready(function(){

        $( "#search" ).keyup(function() {
          if ($( "#search" ).val().length > 2){
            if ($( "#people" ).html() != "<div class=\"mx-auto loader\"></div>"){
              $( "#people" ).html( "<div class=\"mx-auto loader\"></div>" );
            }
            $('#triggersearch').click();
          }
        });
    });
</script>
