<div class="container">
  <h4>Personen importieren</h4>
  <p>
    <b>CSV benötigt folgende Header: </b>
    <br>
    firstname | lastname | email | phone | tag
  </p>
  <p>
    Tags müssen mit einem " | " getrennt werden. Beispiel: Sponsor | Mitglied | Stiftungsmitglied
  </p>
  <p>
    <b>Wichtig!</b> Die Abstände müssen richtig sein. Das geht nicht: Sponsor|  Mitglied |Stiftungsmitglied
  </p>
  <%= form_tag import_people_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <br>
    <%= submit_tag "Importieren" %>
  <% end %>

</div>
