<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title text-center">Tags</h3>
    <hr>
      <%= render partial: "tag_lists/tag_list", collection: tag_lists, as: :tag_list %>
  </div>
</div>
